Задание 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

In [4]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [5]:
data = boston.data

In [6]:
feature_names = boston.feature_names

In [7]:
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [8]:
X = pd.DataFrame(data, columns=feature_names)

In [9]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [10]:
target = boston.target

In [11]:
y = pd.DataFrame(target, columns=['price'])

In [12]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
lr = LinearRegression()

In [17]:
# тренировка модели
lr.fit(X_train, y_train)

LinearRegression()

In [18]:
y_pred = lr.predict(X_test)

In [19]:
check_test = pd.DataFrame({'y_test': y_test['price'],
                           'y_pred': y_pred.flatten()},
                          columns=['y_test', 'y_pred'])

In [20]:
# сравнение тестовых и предсказанных данных
check_test.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [21]:
from sklearn.metrics import r2_score

In [22]:
r2_score(y_test, y_pred)

0.7112260057484878

Задание 2

In [23]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
model = RandomForestRegressor(max_depth = 12, n_estimators = 1000, random_state=42)

In [26]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [27]:
y_pred_forest = model.predict(X_test)

In [28]:
r2_score(y_test, y_pred_forest)

0.87472606157312

In [31]:
# модель, созданная с помощью модуля RandomForestRegressor работает лучше, поскольку R2 ближу к единице

In [29]:
check_test = pd.DataFrame({'y_test': y_test['price'],
                           'y_pred': y_pred.flatten(),
                          'y_pred_forest': y_pred_forest.flatten()},
                          columns=['y_test', 'y_pred', 'y_pred_forest'])

In [30]:
check_test.head()

     y_test     y_pred  y_pred_forest
173    23.6  28.648960      22.806412
274    32.4  36.495014      31.131464
491    13.6  15.411193      16.339125
72     22.8  25.403213      23.810726
452    16.1  18.855280      17.139521